body{
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}

header{
    background-color: bisque;
    padding: 20px;
    text-align: center;
    color: white;
}

.profilebox{
    width: 80%;
    background-color: rgb(128, 91, 239);
    margin: auto;
    padding: auto;
    border: 3px dashed orange;
    border-radius: 10px;
    text-align: center;
}
.profileimg {
    width: 500px;
    height: 400px;
    border-radius: 5%; /* round the corners */
    margin-bottom: 15px;
}


footer{
    position: sticky;
     background-color: #2e86c1;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

