*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

body{
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
   
    
    

}

.navbar{
    background:green;
    color:white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-left img{
    height: 30px;
    width: 35px;
}

.container{
    display: flex;
    min-height: 100vh;
    background: rgba(210, 209, 209, 0.498);
    

}

.sidebar a{
    display: block;
    background-color:rgb(50, 189, 80) ;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    margin-bottom: 8px;
    border-radius: 4px;
}

.sidebar a:hover{
    background: rgb(1, 62, 1);
}

.content{
    flex: 1;
    padding: 20px;
    color: white;
    

}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3{
    color: green;

}

table th, table td{
    padding: 10px;
    border: 2px solid rgb(192, 192, 192);
    text-align: left;
}

.footer{
    background: green;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}