*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

body{
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
   
    
    

}

.navbar{
    background:green;
    color:white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    
    text-decoration: none;
    color: white;
    margin-left: 15px;
    padding: 6px 12px;
    border: 1px solid rgba(34, 244, 34, 0.619); 

}

.navbar a:hover{
    background: rgba(0, 84, 0, 0.97);
    box-shadow: 0 0 10px 2px rgba(5, 228, 1, 0.68);
    transition: all 0.3s ease;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-left img{
    height: 30px;
    width: 35px;
}

.container{
    display: flex;
    min-height: 100vh;
    background: rgba(210, 209, 209, 0.498);
    

}

.sidebar a{
    display: block;
    background-color:rgba(17, 109, 37, 0.612) ;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    border-radius: 4px;
}

.sidebar a:hover{
    background: rgb(2, 116, 2);
    box-shadow: 0 0 10px 2px rgba(5, 228, 1, 0.68);
    transition: all 0.3s ease;
}

.content{
    flex: 1;
    padding: 20px;
    color: white;
    

}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    

}

.card{
    background: rgba(255, 255, 255, 0.553);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(5, 228, 1, 0.68);
}

.card h3{
    color: green;

}

table{
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.283);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px 6px rgba(5, 228, 1, 0.68);

}

table th{
    background: rgb(10, 96, 10);
    color: white;
    padding: 10px;
    border: 2px solid green;
}

table td{
    padding: 10px;
    border: 2px solid green;
    color: rgb(0, 0, 0);
}

table tr:nth-child(even & odd){
    background: rgb(255, 255, 255);
}

.footer{
    background: green;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}